version: '3'
services:
  web:
    build: .
    ports:
      - "127.0.0.1:8080:80"    # listen 127.0.0.1, behind reverse proxy
      # - "8080:80"                # listen 0.0.0.0
    volumes:
      - ./www/:/var/www/html:ro


